body {display: flex;
    flex-direction: column;
    line-height: 1;
}

header {display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-style: dashed;
    padding: 10px;
    margin: 20px;
}